{
  "general": {
    "localDomainExtension": ".development",
    "databaseLocation": "/Users/{username}/Databases"
  },
  "ssh": {
    "keyLocation": "",
    "passphrase": ""
  },
  "shopwareBackend": {
    "adminUsername": "admin",
    "adminPassword": "Password1!",
    "adminEmailAddress": "info@example.com"
  }
}
